<html>
<head>
<title><h1> Dice ROll</h1></title></head>
<body>
<h1>
<ul>
<div><li> <a href ='/dice/2/10'> Roll two 10 sided dice</a></li></div>
<div><li> <a href ='/dice/2/6'> Roll two 6 sided dice</a></li></div>
<div><li> <a href ='/dice/1/20'> Roll one 20 sided dice</a></li></div>
<div><li> <a href ='/dice/5/4'> Roll five 4 sided dice</a></li></div>
</ul>
</body>
</html>
